/* #contact-us{
    @apply py-8;
    padding-right: 10%;
    padding-left: 10%;
} */


.contact-us-container{
    @apply flex flex-wrap items-center my-16 mx-auto gap-12;
    width:min(45rem,90%);
}

.contact-us-textbox{
    @apply bg-primaryBackground border-solid border-b-2 font-thin text-xl mx-0 my-1 py-2 px-4 text-primaryText w-full focus:border-b-primaryText valid:border-b-greenColor;
    outline: none;
    transition: 0.2s all linear;
    border-color: rgba(95, 95, 95, 1);
}
